body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

  div#landing_page {
    div.landing-title {
      width: 18%;
      margin: auto;
      margin-top: 40%;
      font-size: 2em;
    }

    div.credentials {
      width: 70%;
      margin: auto;

      input { width: 100%; }
    }

    div.errorMessage {
      width: 50%;
      margin: auto;
      color: red;
    }

    .sign-in-btn { float: left; }
    .register-btn { float: right; }
  }
}

.pull-down-10 { margin-top: 10px; }
